{% assign image = include.image %}

{% if image.remote %}
    {% capture image_url %}{{ image.file }}{% endcapture %}
    {% capture thumb_url %}{{ image.thumbnail | default: image.file }}{% endcapture %}
{% else %}
    {% capture image_url %}/assets/img/gallery/{{ include.album_name }}/{{ image.file }}{% endcapture %}
    {% capture thumb_url %}/assets/img/gallery/{{ include.album_name }}/{{ image.thumbnail | default: image.file }}{% endcapture %}
{% endif %}

<div class="gallery-thumb image-button"
     href="{{ image_url }}"
     title="{{ image.tooltip }}"
     data-sub-html="#{{ image.file | slugify }}-sub">

    <img alt="{{ image.file }}" src="{{ thumb_url }}" />
    {% if image.title %}
        <div class="title">{{ image.title }}</div>
    {% endif %}

    <div id="{{ image.file | slugify }}-sub" class="gallery-sub">
        {% if image.title %}
        <h3 class="gallery-sub-title">{{ image.title }}</h3>
        {% endif %}
        {% if image.description %}
        <span class="gallery-sub-description">{{ image.description }}</span>
        {% endif %}
    </div>
</div>
