<h1 class="title">What we do</h1>
<p>We're playing Guild Wars 2 casually - there's no requirements for activity or participation. But of course, they're very welcome!</p>
<p>
    We take part in most activities, according to member's will and what they feel like.<br/>
    However, we do stuff together sometimes, for example:
    <ul>
        <li>World Bosses</li>
        <li>Fractals</li>
        <li>Dungeons</li>
        <li>Festival events</li>
        <li>Jumping Puzzles</li>
        <li>Guild Missions</li>
        <li>sPvP</li>
        <li>WvWvW</li>
        <li>Exploring and going out of bounds</li>
        <li>General messing around</li>
        <li>And just whatever!</li>
    </ul>
</p>