<h1 class="title">In-game Contact</h1>
<div class="text">
    <p>
        <h5><a href="/members/TehGM">TehGM</a> - <i>Not A GM.7684</i></h5>
        Main character: <i>Erevate</i>
    </p>
    <p>
        <h5><a href="/members/BornToLose">Born to Lose</a> - <i>Wunsz.3105</i></h5>
    </p>
    <p>
        <h5><a href="/members/Tajniak">Tajniak</a> - <i>Tajniak.6597</i></h5>
    </p>
    <p>
        <h5><a href="/members/TheDutchMagikarp">TheDutchMagikarp</a> - <i>TheDutchMagikarp.8264</i></h5>
    </p>
    <p>
        <h5><a href="/members/Keldingull">Keli</a> - <i>Kelzter.8371</i></h5>
    </p>
</div>