---
layout: page
title: Gallery
---

<div class="page-card col-md-11 col-center">
    <h1 class="page-title">Image Albums</h1>
    <h4>Here we drop our images - be it screenshots or simply other cool stuff</h4>

    <div class="col-lg-12">
        <div class="gallery-container">
            {% for album_hash in site.data.gallery %}
            {% assign album = album_hash[1] %}

            {% if album.images.size > 0 %}
            <a href="/gallery/{{ album_hash[0] }}"
               class="gallery-thumb">

                <img alt="{{ album.display_name }}"
                     src="/assets/img/gallery/{{ album_hash[0] }}/{{ album.thumbnail }}" />
                <div class="title">
                    {{ album.display_name }}
                </div>
                <div class="counter">{{ album.images.size }}</div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>