
<nav class="navbar navbar-expand-lg fixed-top navbar-dark" id="topNav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icono-hamburger" id="navbar-hamburger"> </span>
    </button>
    <a class="navbar-brand" href="/">{{site.title}}</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/games">Games We Play</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" role="button" href="#" id="membersDropdownMenuButton"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Members
                </a>
                <div class="dropdown-menu" aria-labelledby="membersDropdownMenuButton">
                    <a class="dropdown-item" href="/members/TehGM">TehGM</a>
                    <a class="dropdown-item" href="/members/BornToLose">Born to Lose</a>
                    <a class="dropdown-item" href="/members/Tajniak">Tajniak</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>-->
        </ul>
    </div>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <input class="nav-link switch"
                   id="theme-toggle"
                   onclick="modeSwitcher() "
                   type="checkbox"
                   name="checkbox" />
        </li>
    </ul>
</nav>
