<p>BlishHUD is a modular overlay for Guild Wars 2. It functions using modules, which can be installed through "Module Repo" in BlishHUD windows.</p>
<p>BlishHUD is an external application, and needs to be started through its <i>.exe</i> separately from Guild Wars 2 - but it is strongly recommended!</p>
<p>
    Some of the modules we recommend all members to install:
    <ul>
        <li><b>Discord Rich Presence</b> - will display your current character and location in Discord.</li>
        <li><b>Events and Metas Observer</b> - will display a notification when world events are about to start. You can selectively select which events you want to be notified of using a configuration tab on the very left of BlishHUD window!</li>
        <li><b>Clock</b> - displays a customizable clock on screen, that can be dragged around, resized, and also show Local, Server and Tyria (in-game) time all at once.</li>
        <li><b>Regions of Tyria</b> - a small module that shows name of the region of the map as you enter it.</li>
        <li><b>Universal Search</b> - adds a button on top of your screen that allows you to search for any location (such as Waypoint, POI or Vista) in the game and copy its link so you can paste it into the chat.</li>
        <li><b>Distance Rings</b> - <i>mainly for ranged combat</i> - allows you to create up to 5 rings at your character feet at distance - allowing you to easily see if your targets are within skills range.</li>
    </ul>
</p>
<p>Once you install a module, remember to enable it through "Manage Modules" tab - some also have additional settings!</p>