---
---

@charset "utf-8";

@import "devlopr";

@media (prefers-color-scheme: dark) {
    html,
    html[data-theme="dark"] {
        --button-background-color: #232323;
        --button-highlight-color: #111;
    }

    html[data-theme="light"] {
        --button-background-color: #fff;
        --button-highlight-color: #ccc;
    }
}

/*** UTILS ***/
.col-center {
    float: none;
    margin: 0 auto;
    display: block;
}

@mixin box-hover-highlight {
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

@mixin box-hover-highlight-heavy {
    transition: box-shadow ease 0.5s;
    box-shadow: 3px 3px 30px 7px rgba(0, 0, 0, 0.45);

    &:hover {
        box-shadow: 3px 3px 25px 13px black;
    }
}

/*** PAGES AND HOME ***/
body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.page-card {
    @extend .card !optional;
    padding-left: 30px;
    padding-right: 30px;
}

.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.jumbotron {
    @extend .jumbotron;
    background-color: var(--card-background-color);

    &.home {
        height: 550px;
        position: relative;
        text-align: center;

        .center-absolute {
            width: 100%;
        }

        .heading {
            font-size: 90px;
            line-height: 90px;
        }

        .lead {
            font-size: 1.3rem;
            line-height: 1.3rem;
            font-weight: 600;
        }
    }
}

footer {
    p {
        margin-bottom: unset;
    }

    font-size: 15px;
    max-height: 55px;
    flex-shrink: 0;
}

.btn {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-primary {
    &, &:hover {
        background-color: var(--button-background-color);
        border: 1px solid var(--main-background-color);
    }
}

/*** MAIN MENU ***/
.dropdown-menu {
    background-color: var(--card-background-color);
}

.dropdown-item, .btn-primary {
    color: var(--link-color);

    &:hover {
        color: #ffffff;
        background-color: var(--button-highlight-color);
    }

    &:not(:disabled):not(.disabled):active {
        border: none;
        box-shadow: none;
        color: var(--link-color-visited);
        background-color: var(--button-highlight-color);
    }

    &:focus, &:visited {
        box-shadow: none;
        color: var(--link-color-visited);
        border: 1px solid var(--link-color);
    }

    /*&:visited {
        border: 1px solid var(--link-color);
        box-shadow: none;
        color: var(--link-color-visited);
        background-color: var(--button-highlight-color);
    }*/
}


/*** ABOUT MEMBER ***/
.profile-img {
    border-radius: 25%;
}

#profile-card .social-link {
    font-size: 20px;
}


/*** BLOG POSTS ***/
.blog-post-preview {
    @extend .blog-post-preview !optional;
    @include box-hover-highlight;

    color: unset;
    &:hover {
        text-decoration: none;
        color: unset;
        cursor: pointer;

        .card-title {
            @extend a, :hover;
            text-decoration: underline;
        }
    }

    .card-title {
        @extend a;
    }
}

.post-card {
    @extend .card;
    width: 100%;
}

article {
    font-size: 1.2rem;
}

.about-author {
    display: flex;
    flex-direction: row;

    .profile-img {
        width: 150px;
        height: 150px;
    }

    .author-info {
        width: 100%;
        margin-left: 15px;
    }
}

/*** GALLERY ***/

$gallery-thumb-spacing: 30px;
.gallery-container {
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: $gallery-thumb-spacing;
}

.gallery-thumb {
    @include box-hover-highlight-heavy;

    max-width: 450px;
    min-width: 200px;
    border-radius: 2px 2px 15px 15px;
    cursor: pointer;
    padding: 15px;
    text-decoration: none;
    position: relative;
    margin-bottom: $gallery-thumb-spacing;
    margin-right: $gallery-thumb-spacing;

    &:hover {
        text-decoration: none;
    }

    img {
        padding: .25rem;
        background-color: #000;
        border: 1px solid #020305;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }

    .title {
        margin-top: 10px;
        word-wrap: break-word;
        color: var(--main-text-color);
    }

    .title, .counter {
        text-align: center;
    }

    .counter {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 25px;
        line-height: 45px;
        border: 2px solid black;
        color: var(--link-color);
        background: var(--newsletter-background-color);
        position: absolute;
        top: 10px;
        right: 5px;
    }
}

.gallery-sub {
    display: none;
}

.gallery-sub-title {
    @extend h3;
    font-weight: bold;
}

.gallery-sub-description {
    @extend span;
    font-weight: bold;
}

.lg {
    .lg-sub-html, .lg-toolbar {
        background-color: rgba(0, 0, 0, 0.75);
    }
}


/*** GAMES LIST ***/
.game-row {
    @extend .row !optional;
    @extend .page-card;
    @include box-hover-highlight;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;

    .main-box {
        display: flex;
        flex-direction: column;
    }

    .main {
        flex: 1 0 auto;
    }

    .members {
        font-size: 18px;
        flex-shrink: 0;
        margin: 0;
    }

    .thumbnail-box {
        width: 250px;
        height: 165px;
        margin-right: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .thumbnail {
        max-width: 100%;
        max-height: 100%;
        padding: .25rem;
        text-decoration: none;
        margin: auto;
        display: block;
    }

    &.member-card, &.member-card:hover {
        margin: 0;
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;

        .thumbnail-box {
            width: 170px;
            height: 100px;
        }
    }
}