<h1 class="title">No Guild?</h1>
<p>
    Yeah, for now we haven't created our own guild in WoW. But why?
</p>
<p>
    The reason is pretty simple - in WoW joining a big guild is the best way to get into a lot of in-game content. We are a small team, so our guild would be tiny.<br/>
    Yes, the same can be said about many other games, but there's a significant difference - in other games, guilds either matter less (like in <a href="/games/path-of-exile">Path of Exile</a>) or you can join multiple guilds (like in <a href="/games/guildwars2">Guild Wars 2</a>). In WoW, unfortunately you can only join one guild, and they matter a ton.
</p>
<p>
    For this reason, we're on lookout for an already established guild in WoW - and once we settle for one, we'll update this page!
</p>