<h1 class="title">Our realms</h1>

<h3>Horde</h3>
<p>
    We are primarily Horde players. Here's realms we play on:
    <ul>
        <li>Retail: <b>Twisting Nether</b></li>
        <li>TBC Classic: <b>Gehennas</b> (PvP)</li>
    </ul>
</p>

<h3>Alliance</h3>
<p>
    Although we're primarily Horde players, there's nothing that stops us from having Alliance characters for some variety. If you want to play with us as Alliance as well, come to following realms:
    <ul>
        <li>Retail: <b>Silvermoon</b></li>
        <li>TBC Classic: <b>Firemaw</b> (PvP)</li>
    </ul>
</p>

<p>
    Small note: do not worry if realm says "<i>Full</i>" - you can still join it. There might be queues on expansion/big patch day, but in practice that's about it.
</p>