{% assign card = include.card_data %}
{% assign game = site.data.games[include.game_code] %}

{% if game.members_playing.size > 0 %}
<div class="card members-playing-list">
    {% if card.title %}
    <h1 class="title">{{ card.title }}</h1>
    {% else %}
    <h1 class="title">Who's playing</h1>
    {% endif %}

    {% assign sorted_members_playing = game.members_playing | sort %}
    {% for member_code in sorted_members_playing %}
    {% assign member = site.data.members[member_code] %}
    <a href="/members/{{member_code}}" class="member-box">
        {% if member.avatar %}
        <img src="{{ member.avatar }}" class="thumbnail" />
        {% else %}
        <img src="/assets/img/avatars/default_avatar.png" class="thumbnail" />
        {% endif %}
        <span class="name">{{member.name}}</span>
    </a>
    {% endfor %}

</div>
{% endif %}