<h1>Our Server</h1>
<p>We rent a server at gameservers.com so we can play freely without dependency on other members.</p>
<p>The server is private to BloodXtract members, but if you want to join us (and split the server costs), feel free to contact us!</p>

<h2>Server Rules</h2>
<p>Our server has the same rules as <a href="{% post_url 2020-08-09-welcome-to-bldx %}">BloodXtract Rules</a>.</p>
<p>The most important rule is no griefing. We want to chill in Valheim - so griefing and destroying our builds is a bannable offense.</p>

<h2>Connecting</h2>
<p>Use <b><i>.server valheim</i></b> command of Einherji bot on Discord to get connecting info!</p>
<p>Note that our Valheim server uses SteamID whitelisting.</p>