---
layout: page
subtitle: Member
---

{% if page.member_code %}
{% assign member_code = page.member_code %}
{% else %}
{% assign member_code = page.name | remove: ".md" | remove: ".html" %}
{% endif %}

{% assign member = site.data.members[member_code] %}

<div class="row">
    <div class="col-lg-4 offset-md-1">
        <div class="card" id="profile-card">
            <div>
                {% if member.avatar %}
                <img src="{{ member.avatar }}" class="profile-img" />
                {% else %}
                <img src="/assets/img/avatars/default_avatar.png" class="profile-img" />
                {% endif %}
            </div>
            <h1 class="profile-name">{{ member.name }}</h1>
            {% if member.short_description %}
            <p class="profile-bio">{{ member.short_description }}</p>
            {% endif %}

            <p class="profile-links">
                {% if member.usernames.discord %}
                <a class="social-link" target="_blank"
                   href="http://discord.com/users/{{ member.usernames.discord }}">
                    <i class="fab fa-discord"></i>
                </a>
                {% endif %}

                {% if member.usernames.steam_id %}
                <a class="social-link" target="_blank"
                   href="https://steamcommunity.com/id/{{ member.usernames.steam_id }}">
                    <i class="fab fa-steam"></i>
                </a>
                {% elsif member.usernames.steam %}
                <a class="social-link" target="_blank"
                   href="https://steamcommunity.com/profiles/{{ member.usernames.steam }}">
                    <i class="fab fa-steam"></i>
                </a>
                {% endif %}

                {% if member.usernames.playstation %}
                <a class="social-link" target="_blank"
                   href="https://my.playstation.com/profile/{{ member.usernames.playstation }}">
                    <i class="fab fa-playstation"></i>
                </a>
                {% endif %}

                {% if member.usernames.reddit %}
                <a class="social-link" target="_blank"
                   href="https://www.reddit.com/user/{{ member.usernames.reddit }}">
                    <i class="fab fa-reddit-alien"></i>
                </a>
                {% endif %}

                {% if member.usernames.twitch %}
                <a class="social-link" target="_blank"
                   href="https://www.twitch.tv/{{ member.usernames.twitch }}">
                    <i class="fab fa-twitch"></i>
                </a>
                {% endif %}

                {% if member.usernames.youtube_custom %}
                <a class="social-link" target="_blank"
                   href="https://www.youtube.com/c/{{ member.usernames.youtube_custom }}">
                    <i class="fab fa-youtube"></i>
                </a>
                {% elsif member.usernames.youtube %}
                <a class="social-link" target="_blank"
                   href="https://www.youtube.com/channel/{{ member.usernames.youtube }}">
                    <i class="fab fa-youtube"></i>
                </a>
                {% endif %}

                {% if member.usernames.itch %}
                <a class="social-link" target="_blank"
                   href="http://{{ member.usernames.itch }}.itch.io">
                    <i class="fab fa-itch-io"></i>
                </a>
                {% endif %}

                {% if member.usernames.twitter %}
                <a class="social-link" target="_blank"
                   href="http://twitter.com/{{ member.usernames.twitter }}">
                    <i class="fab fa-twitter"></i>
                </a>
                {% endif %}

                {% if member.usernames.facebook %}
                <a class="social-link" target="_blank"
                   href="http://facebook.com/{{ member.usernames.facebook }}">
                    <i class="fab fa-facebook-f"></i>
                </a>
                {% endif %}

                {% if member.usernames.snapchat %}
                <a class="social-link" target="_blank"
                   href="http://www.snapchat.com/add/{{ member.usernames.snapchat }}">
                    <i class="fab fa-snapchat-ghost"></i>
                </a>
                {% endif %}

                {% if member.usernames.instagram %}
                <a class="social-link" target="_blank"
                   href="http://instagram.com/{{ member.usernames.instagram }}">
                    <i class="fab fa-instagram"></i>
                </a>
                {% endif %}

                {% if member.usernames.medium %}
                <a class="social-link" target="_blank"
                   href="http://medium.com/@{{ member.usernames.medium }}">
                    <i class="fab fa-medium-m"></i>
                </a>
                {% endif %}

                {% if member.usernames.soundcloud %}
                <a class="social-link" target="_blank"
                   href="https://soundcloud.com/{{ member.usernames.soundcloud }}">
                    <i class="fab fa-soundcloud"></i>
                </a>
                {% endif %}

                {% if member.usernames.spotify %}
                <a class="social-link" target="_blank"
                   href="https://open.spotify.com/user/{{ member.usernames.spotify }}">
                    <i class="fab fa-spotify"></i>
                </a>
                {% endif %}

                {% if member.usernames.behance %}
                <a class="social-link" target="_blank"
                   href="http://behance.net/{{ member.usernames.behance }}">
                    <i class="fab fa-behance"></i>
                </a>
                {% endif %}

                {% if member.usernames.telegram %}
                <a class="social-link" target="_blank"
                   href="http://t.me/{{ member.usernames.telegram }}">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                {% endif %}

                {% if member.usernames.dribbble %}
                <a class="social-link" target="_blank"
                   href="https://dribbble.com/{{ member.usernames.dribbble }}">
                    <i class="fab fa-dribbble"></i>
                </a>
                {% endif %}

                {% if member.usernames.flickr %}
                <a class="social-link" target="_blank"
                   href="https://www.flickr.com/photos/{{ member.usernames.flickr }}">
                    <i class="fab fa-flickr"></i>
                </a>
                {% endif %}

                {% if member.usernames.linkedin %}
                <a class="social-link" target="_blank"
                   href="http://linkedin.com/in/{{ member.usernames.linkedin }}">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                {% endif %}

                {% if member.usernames.github %}
                <a class="social-link" target="_blank"
                   href="http://github.com/{{ member.usernames.github }}">
                    <i class="fab fa-github"></i>
                </a>
                {% endif %}
            </p>
            {% if member.usernames.github %}
            {%- include github_follow_button.html -%}
            {% endif %}
            {% if member.usernames.twitter %}
            {%- include twitter_follow_button.html -%}
            {% endif %}

            {% if member.location %}
            <h6><i class="fas fa-map-marker-alt"></i> {{ member.location }}</h6>
            {% endif %}

            {% if member.email %}
            <h6><a href="mailto:{{ member.email }}"><i class="fas fa-envelope"></i> {{ member.email }}</a></h6>
            {% endif %}

            {% if member.website %}
            <h6><a href="{{ member.website }}" target="_blank"><i class="fas fa-link"></i> {{ member.website }}</a></h6>
            {% endif %}
        </div>

        {% for card in page.cards_side %}
            {% include member_page_card.html card_data=card member_code=member_code %}
        {% endfor %}
    </div>
    <div class="col-lg-7">

        {% for card in page.cards_main %}
            {% include member_page_card.html card_data=card member_code=member_code %}
        {% endfor %}

        {{ content }}
    </div>
</div>

{% if member.usernames.buymeacoffee %}
<!-- buy me a coffeee -->
<script data-name="BMC-Widget"
        src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
        data-id="{{ member.usernames.buymeacoffee }}"
        {% if page.buy_me_a_coffee_description %}
        data-description="{{ page.buy_me_a_coffee_description }}"
        {% else %}
        data-description="Support me on Buy me a coffee!"
        {% endif %}
        data-message=""
        data-color="#FF813F"
        data-position="right"
        data-x_margin="10"
        data-y_margin="10"></script>
{% endif %}