<h1>Anti-griefer Weapons</h1>
<p>As we mentioned, we like to hunt griefers and make them cry.</p>
<p>But griefers tend to use OP vehicles to compensate for lack of skill, right? So what can you do?</p>
<p>Well, we have a few counter-weapon suggestions - based on the tool the opponent is using:</p>

<h4>Oppressor MK2</h4>
<p>
    MK2s definitely can get annoying. But they're far from unkillable. Here's what you can use:
    <ul>
        <li><b>Fully Loaded Ruiner 2000</b> - Ruiner 2000 on its own isn't that powerful, but once you own it, you can start the "Fully Loaded" CEO/VIP mission. In this mission, your Ruiner 2000 will not only keep respawning instantly, it'll also have unlimited amount of MK2 rockets and take insane amount of rockets. This makes it the best weapon against the flying bikes. The downsides? 1 hour mission cooldown, unless you disconnect just before time runs up.</li>
        <li><b>Oppressor MK2 (with chaff)</b> - fight fire with fire. When you have chaffs installed, just start spamming them as you approach the griefer. They won't be able to lock their missile onto you - and unless they do the same, you can pop them rather easily.</li>
        <li><b>Toreador</b> - now while Toreador can take many less rockets than FL Ruiner 2000, it can still take a few. Meanwhile, OpMK2 only takes one from Toreador. Oh, and Toreador has a boost and can go underwater!</li>
        <li><b>Stromberg</b> - Toreador lite. Not as powerful, but before Toreador was added in Cayo Perico update, Stromberg was doing fine. And it still will. It just doesn't have a boost.</li>
        <li><b>MOC Cab</b> or <b>Nightshark</b> - Mobile Operations Center cab and Nightshark both can take a ton of missiles. Unfortunately it's not weaponized - but if you can shoot OpMK2 pilot with a gun or throw a sticky bomb, it's a good choice too.</li>
        <li><b>Insurgent Pickup Custom</b> - same as MOC Cab and Nightshark, but this one actually has additional weaponry - it just needs you to bring a friend with you.</li>
        <li><b>Up-n-Atomizer</b> - now, being on food gives you no resistance, but missiles can't lock onto you. So you can try to throw them off their bike!</li>
    </ul>
</p>

<h4>Jets and airplanes</h4>
<p>
    Jets don't have many easy counters. But don't worry, the one that exists is more than enough.
    <ul>
        <li>
            <b>Explosive Sniper Rifle</b> - has scope. Has really fast projectiles. One good or two less good shots and the jet is down. Do I need to say more?<br />
            Of course you need to research this modification in your bunker first. But just do it. It's worth it.
        </li>
    </ul>
</p>

<h4>Tanks</h4>
<p>
    Also throw heavy armor vehicles like Insurgent or Nightshark into this.
    <ul>
        <li><b>Carpet Bombing</b> - got a weaponized plane or helicopter that can drop bombs? Well, while it might not be easy to hit, they won't be able to hit you either.</li>
        <li><b>Kosatka Missile</b> - remote guided warhead, while you're relatively safe in your submarine. Easy.</li>
    </ul>
</p>

<h4>Minigun / Laser Minigun</h4>
<p>
    Yes, not a vehicle, but definitely an OP weapon. Often used for griefing.
    <ul>
        <li><b>Kosatka Missile</b> - remote guided warhead, while you're relatively safe in your submarine. Easy.</li>
        <li><b>Drone</b> / <b>RC Bandito</b> / <b>RC Tank</b> - these small thingies don't show on radar and explode. Unfortunately they can be shot down if noticed, but they're still quite valid.</li>
        <li><b>Sniper Rifle</b> - headshots are easy way to deal with anyone on foot. Just get your distance first!</li>
    </ul>
</p>