<h1>Rules</h1>
<p>In GTA Online, in addition to general <a href="{% post_url 2020-08-09-welcome-to-bldx %}">BloodXtract Rules</a>, we have a few custom ones:</p>

<h4>Do not cheat!</h4>
<p>Yes, this is a part of general <a href="{% post_url 2020-08-09-welcome-to-bldx %}">BloodXtract Rules</a>, but in this game it's especially important.</p>

<h4>Do not kill people selling cargo, when you're using OP vehicles</h4>
<p>Vehicles like MK2, tanks, jets, and so on are nearly impossible to defend against when selling cargo. Rockstar sucks like that.<br/>
    Driving by people selling cargo and shooting with pistols is okay, but nuking them with OP vehicles it's just a dick move. We can do better than that.</p>

<h4>Do hunt griefers</h4>
<p>Okay, this is not a rule, but a suggestion. If you see someone griefing with Opressor MK2 - take out a Ruiner 2000. If they do it in a jet, grab your explosive sniper rifle. Let's teach them a lesson and make them cry.</p>

<h4>Do report cheaters</h4>
<p>We are against cheating. Problem with cheaters is that most often we can't realistically counter them. So let's report them! Yeah, Rockstars are selfish scrubs, but maybe one day a cheater will finally get banned.</p>